@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
}
main{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(img/dasain1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
main h2{
    font-size: 4.5rem;
    color: rgb(233, 245, 179);
    margin: 0;
}

/* .container::after{
    border-radius: 20px;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, .7);  
    z-index: 10;
    display: flex;
} */

.container{
    position: relative;
    border-radius: 15px;
    background-color: rgba(0,0,0,.70);
    display: flex;
    justify-content: center;
    /* filter:blur(8px) */
}

.count{
    margin: 20px 40px 30px 40px;
    font-size: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.count p{
    margin: 0;
}
.count .hour,
.count .minute,
.count .second,
.count .day
{
    font-size: 1rem;
}

.change-countdown-button{
    background: none;
    border: none;
    cursor: pointer;
}
.change-countdown{
    /* background-color: rgba(25,25,25,.7); */
    position: fixed;
    top: 65%;
    right: 5%;
}
.plus-icon{
    width: 70px;
}
.plus-icon:hover{
    animation: button-effect .5s;
    transform: scale(1.2);


}

@keyframes button-effect{
    0%{
        transform: scale(1) rotate(90deg);
        
    }
    70%{
        transform: scale(1.3);

    }
    100%{
        transform: scale(1.2);

    }
}
.change-countdown-screen{
    display: flex;
    position:fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:wheat;
    font-size: 3rem;
}
.blur{
    filter: blur(3.5px);
}
.change-countdown-screen h2{
    position: absolute;
    margin: 0 0 40px 0;
    top: 70px;
}

#countdown-name, #select-date{
    font-size: 1.5rem;
    border: 2px solid green;
    border-radius: 40px;
    color: white;
    background: none;
    display: inline-flex;
    margin: 30px;
    height: 50px;
    padding: 15px 35px;
    width: 30%;
}

#countdown-name:focus{
    outline: none;
}
#select-date:focus{
    outline: none;;
}


#start-countdown-button{
    border-radius: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    padding: 25px;
    color: green;
    font-size: 1.55rem;
    background: none;
    border: 2px solid green;
}
#start-countdown-button:hover{
    color: rgb(255, 255, 255);
    background-color: green;
    cursor: pointer;
    border-color: rgb(255, 255, 255);
}

.change-countdown-screen.hidden{
    display: none;
}